<h1>Prime Numbers</h1>
<form action="/prime">
  <div class="form-group">
   <!-- <label for="title">Rock, Paper, or Scissors?
   </label> -->
   <h2>Here are all the prime numbers from 1 to your number:</h2>
   <input id="prime_form" name="prime_form" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
